<form ng-submit="submit()" ng-controller="AddCtrl" class="form-horizontal " role="form" name="addForm">
    <div class="form-group">
        <label for="nazwa" class="col-sm-2 control-label">Nazwa</label>

        <div class="col-sm-10">
            <input type="text" class="form-control" id="nazwa" name="nazwa" placeholder="Nazwa"
                   ng-model="formData.nazwa" required>
        </div>
    </div>
    <div class="form-group">
        <label for="opis" class="col-sm-2 control-label">Opis</label>

        <div class="col-sm-10">
            <textarea id="opis" class="form-control" rows="10" ng-model="formData.opis" required></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="priorytet" class="col-sm-2 control-label">Priorytet</label>

        <div class="col-sm-10">
            <select id="priorytet" class="form-control" ng-model="formData.priorytet"
                    ng-options="priority.id as priority.name for priority in priorities"></select>
        </div>
    </div>
    <!--<div class="form-group">-->
    <!--<label for="status" class="col-sm-2 control-label">Status</label>-->

    <!--<div class="col-sm-10">-->
    <!--<select id="status" class="form-control" ng-model="formData.status"-->
    <!--ng-options="status.id as status.name for status in statuses"></select>-->
    <!--</div>-->
    <!--</div>-->
    <div class="form-group">
        <label for="idOsobyZglaszajacej" class="col-sm-2 control-label">Dodający</label>

        <div class="col-sm-10">

            <select id="idOsobyZglaszajacej" class="form-control" ng-model="formData.idOsobyZglaszajacej"
                    ng-options="person.idOsoba as person.imie + ' ' + person.nazwisko  for person in people"></select>

        </div>
    </div>
    <div class="form-group">
        <label for="idOsobyWykonujacej" class="col-sm-2 control-label">Wykonujący</label>

        <div class="col-sm-10">

            <select id="idOsobyWykonujacej" class="form-control"
                    ng-model="formData.idOsobyWykonujacej"
                    ng-options="person.idOsoba as person.imie + ' ' + person.nazwisko  for person in people"></select>

        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default" id="submit">Dodaj</button>

        </div>
    </div>


</form>
