<div>
<H1 ng-if="isLoading">
    Ładowanie...
    </H1>

    <div class="row" ng-if="! isLoading">
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-4 text-right detailHeader">Priorytet</div>

                <div class="col-sm-8 issue-data">
                    {{ issuePriority }}     <a class="" data-toggle="modal" data-target="#changePriorityModal"> zmień </a>

                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 text-right detailHeader">Status</div>

                <div class="col-sm-8 issue-data">
                    {{ issueStatus }} <a class="" data-toggle="modal" data-target="#changeStatusModal"> zmień </a>

                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 text-right detailHeader">Data dodania</div>

                <div class="col-sm-8 issue-data">
                    {{ issue.data | date:'dd.MM.yyyy HH:mm:ss' }}

                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 text-right detailHeader">Data zmiany</div>

                <div class="col-sm-8 issue-data">
                    {{ issue.dataZmianyStanu | date:'dd.MM.yyyy HH:mm:ss'}}

                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 text-right detailHeader">Dodający</div>

                <div class="col-sm-8 issue-data">
                    {{author}}

                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 text-right detailHeader">Przydzielony</div>

                <div class="col-sm-8 issue-data">
                    {{ appointed}} <a class="" data-toggle="modal" data-target="#changeUserModal"> zmień </a>

                </div>
            </div>
        </div>


        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-12  detailHeader text-center">TYTUŁ:</div>

            </div>
            <div class="row">
                <div class="col-sm-12 issue-data text-center"> {{ issue.nazwa}}</div>

            </div>
            <div class="row">
                <div class="col-sm-12 text-right detailHeader text-center">OPIS:</div>

            </div>
            <div class="row">
                <div class="col-sm-12 issue-data">
                 {{ issue.opis}}
                </div>

            </div>
        </div>



    </div>

    <!-- Button trigger modal -->


    <!-- Modal -->
    <div class="modal fade" id="changePriorityModal" tabindex="-1" role="dialog" aria-labelledby="changePriorityModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="changePriorityModalLabel">Zmień priorytet</h4>
                </div>
                <div class="modal-body">
                    <form ng-submit="submitPriorityChange()" class="form-horizontal " role="form" name="addForm">


                        <div class="form-group">
                            <label for="prioritySelect" class="col-sm-2 control-label">Priorytet</label>

                            <div class="col-sm-10">

                                <select id="prioritySelect" class="form-control" ng-model="issue.priorytet"
                                        ng-options="priority.id as priority.name for priority in priorities"></select>

                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" id="save">Save changes</button>

                        </div>

                    </form>

                </div>

            </div>
        </div>
    </div>


<div class="modal fade" id="changeUserModal" tabindex="-1" role="dialog" aria-labelledby="changePriorityModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="changeUserModalLabel">Zmień przypisanego użytkownika</h4>
            </div>
            <div class="modal-body">
                <form ng-submit="submitUserChange()" class="form-horizontal " role="form" name="addForm">


                    <div class="form-group">
                        <label for="userSelect" class="col-sm-2 control-label">Przypisany</label>

                        <div class="col-sm-10">

                            <select id="userSelect" class="form-control"
                                    ng-model="issue.idOsobyWykonujacej"
                                    ng-options="person.idOsoba as person.imie + ' ' + person.nazwisko  for person in people"></select>

                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>

                    </div>

                </form>

            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="changeStatusModal" tabindex="-1" role="dialog" aria-labelledby="changeStatusModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="changeStatusModalLabel">Zmień status</h4>
            </div>
            <div class="modal-body">
                <form ng-submit="submitStatusChange()" class="form-horizontal " role="form" name="addForm">


                    <div class="form-group">
                        <label for="statusSelect" class="col-sm-2 control-label">Status</label>

                        <div class="col-sm-10">
                            <select id="statusSelect" class="form-control"
                                    ng-model="issue.status"
                                    ng-options="status.id as status.name for status in statuses"></select>

                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                        <button type="submit" class="btn btn-primary">Zmień</button>
                        <p class="error" ng-if="wrongStatusChange">
                            Nie można zmienić na ten status.
                        </p>
                    </div>

                </form>

            </div>

        </div>
    </div>
</div>

<H1 ng-if="isLoading" style="text-align:center">
    Ładowanie...
</H1>


<div ng-controller="CommentsCtrl" ng-if="! isLoading">
    <H2>Komentarze</H2>

    <form ng-submit="addNewComment()" name="myForm">
    <select class="form-control" ng-model="formData.idOsoba"
            ng-options="person.idOsoba as person.imie + ' ' + person.nazwisko  for person in people"
            ng-init="formData.idOsoba = people[0].idOsoba">
    </select>
    <textarea
            type="text"
            name="input"
            style="width: 100%; max-width: 100%; min-width: 100%; min-height: 30px"
            ng-model="newComment"
            required
       >
            <!--ng-enter="addNewComment()">-->
    </textarea>
    <a type="submit" id="submit" ng-click="addNewComment()" class="btn btn-default" style="float:right; margin-top: 5px">Submit</a>
    </form>
    <table ng-table="tableParams1" class="table">
        <tr ng-repeat="comment in $data">
            <td>
                <a href="#/osoba/{{ comment.idOsoba }}"><strong>{{ comment.osobaKomentujaca }}</strong></a><br/>
                {{ comment.tresc }}
            </td>
            <td style="text-align: right">
                {{comment.data | date:'dd.MM.yyyy hh:mm:ss'}}
            </td>
        </tr>
    </table>
</div>
