<div ng-controller="ListCtrl">
    <!-- Show when data is loading. -->
    <H1 ng-if="isLoading" style="text-align:center">
        Loading data...
    </H1>

    <div ng-if="! isLoading" >
        <div>
        <!--</table>-->
        <!--<p><strong>Page:</strong> {{tableParams.page()}}</p>-->
        <!--<p><strong>Count per page:</strong> {{tableParams.count()}}</p>-->
        <!--<p><strong>Data length:</strong> {{tableParams.total()}}</p>-->
        <table ng-table="tableParams" show-filter="true" class="table">
            <tr ng-repeat="issue in $data">
                <td data-title="'Nazwa'" sortable="'nazwa'" filter="{ 'nazwa': 'text' }"><a href="#/issue/{{ issue.idZgloszenie }}">{{ issue.nazwa }}</a></td>
                <td data-title="'Osoba'" sortable="'osobaWykonujaca'" filter="{ 'osobaWykonujaca': 'text' }">{{issue.osobaWykonujaca}}</td>
                <td data-title="'Prorytet'" sortable="'priorytet'" filter="{ 'prioStr': 'text' }">{{issue.prioStr}}</td>
                <td data-title="'Status'" sortable="'status'" filter="{ 'statusStr': 'text' }">{{issue.statusStr}}</td>
                <td data-title="'Data stworzenia'" sortable="'data'">{{ issue.data | date:'dd.MM.yyyy HH:mm:ss' }}</td>
                <td data-title="'Data modyfikacji'" sortable="'dataZmianyStanu'">{{issue.dataZmianyStanu | date:'dd.MM.yyyy HH:mm:ss'}}</td>
            </tr>
        </table>
        </div>
    </div>
</div>